
/**
 * Flexbox
 */
.flex {
  display: flex;
  align-items: flex-start;
}
.flex--align-center {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
