
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-regular-webfont.eot');
    src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/opensans-regular-webfont.svg#webfontregular') format('svg'),
         url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-italic-webfont.eot');
    src: url('/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/opensans-italic-webfont.svg#webfontregular') format('svg'),
         url('/fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('/fonts/opensans-italic-webfont.woff') format('woff'),
         url('/fonts/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-bold-webfont.eot');
    src: url('/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/opensans-bold-webfont.svg#webfontregular') format('svg'),
         url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-bolditalic-webfont.eot');
    src: url('/fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/opensans-bolditalic-webfont.svg#webfontregular') format('svg'),
         url('/fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('/fonts/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-weight: 700;
    font-style: italic;
}
