/*------------------------------------*\
    $BASE VARIABLES
\*------------------------------------*/

/**
 * Theme colors
 */

// Should be replace with theme colors
$green: #7ab55c;
$white: #fff;
$black: #000;
$white: #FFF;
$red: red;
$red--bright: #ff0000;
$gray--90: #444;
$gray--80: darken(#fff, 80%);
$gray--70: #666;
$gray--60: darken(#fff, 60%);
$gray--50: #999;
$gray--40: darken(#fff, 40%);
$gray--30: darken(#fff, 30%);
$gray--20: #ddd;
$gray--10: darken(#fff, 10%);
$gray--00: #fff;

// Default text colors
$text-color--default: $black;
$text-color--alpha: $gray--80;
$text-color--beta: $gray--50;
$heading-color--alpha: $gray--90;

// Background colors
$background-color--alpha: $gray--90;
$background-color--beta: $gray--40;

// Fill colors
$fill-color--alpha: $gray--90;
$fill-color--beta: $gray--40;

// Link colors
$link-color--alpha: $gray--90;
$link-color-hover--alpha: $gray--70;
$link-color--beta: $gray--40;
$link-color-hover--beta: $gray--90;
$link-color-hover--gamma: $gray--90;

// Border colors
$border-color--alpha: $gray--90;
$border--default: 1px solid $base-color;
