/*-------------------------------------------
    Grid Settings for Neat Grids
    http://neat.bourbon.io

    The neat documentation recommends a dedicated grid settings file for
    grid configuration.
-------------------------------------------*/

$column: 90px;
$gutter: 10px;
$grid-columns: 12;
$max-width: em(1260);


// Legacy Grid Implementation
// -------------------------------------------

$legacy-grid-support: false; // Grid support for legacy browsers
$fixed-gutters: true; // Set to to false for percentaged based gutters

@if $fixed-gutters == true {
    $gutter: 0px;
}


// uses page(key) function
$page: (
    mobile: 10,
    desktop: 25
);


// uses gutter(key) function
$gutters: (
    mobile: 10,
    desktop: 10,
    super: 10
);


// uses verticalSpacing(key) function
$verticalSpacing: (
  mobile: 14,
  desktop: 20
);

// uses horizontalSpacing(key) function
$horizontalSpacing: (
  mobile: 5,
  desktop: 10
);


/**
 * Default Padding
 */
$padding: rem(20);
$padding-and-half: $padding*1.5;
$padding-double: $padding*2;
$padding-half: $padding/2;
$padding-quarter: $padding/4;
