/*------------------------------------*\
    $BORDERS
\*------------------------------------*/
.border-top--transparent {
    border-top: 1px solid rgba($white, .3);
}

.border--red {
    border: rem(1) solid $red !important;
}

.border-left--gray--at-xlarge {
    @include media('>=xlarge') {
        border-left: 2px solid $gray--border;
    }
}

.border-top--gray--under-xlarge {
    @include media('<xlarge') {
        border-top: 2px solid $gray--border;
        padding-top: $padding-double;
    }
}

.border-bottom--gray {
  border-bottom: 2px solid $gray--border--light;
  padding-bottom: $padding-half;
}
