/*------------------------------------*\
    $ORNAMENTS
\*------------------------------------*/

.more-link-arrow:before {
    content: '\2794';
    padding-right: rem(5);
}
.more-link-arrow--until-mlarge:before {
    @include media('<mlarge') {
        content: '\2794';
        padding-right: rem(5);
    }
}
