// Longform styles from type-sizes.scss
// -------------------------------------------
.longform {
  h1, .alpha {  }
  h2, .gamma {  }
  h3, .epsilon {  }
  h4, .eta {  }
  h5, .iota {  }
  h6, .kappa {  }

  p { @include p; }
  ul { @include p; }
  ol { @include p; }
  dt { @include p; }
  dd { @include p; }
}


// Longform styles from type-styles.scss
// -------------------------------------------
ol, ul {
  .longform & {
    overflow: hidden;
    li > ol,
    li > ul {
      margin-top: rem(lh(mobile)/2);
      @include media('>xlarge') {
        margin-top: rem(lh(desktop)/2);
      }
    }
    & > li {
      position: relative;
      & + li {
        margin-top: rem(lh(mobile)/2);
        @include media('>xlarge') {
          margin-top: rem(lh(desktop)/2);
        }
      }
    }
  }
}
ol {
  .longform & {
    counter-reset: li;
    & > li {
      list-style: none;
      padding-left: 1.25em;
      &:before {
        content: counter(li)'.';
        counter-increment: li;
        position: absolute;
        top: -1px;
        left: 0;
      }
    }
  }
}
ul {
  .longform & {
    li {
      padding-left: 1em;
    }
    @media print {
      li {
        list-style-type: disc;
      }
    }
  }
}
