/*------------------------------------*\
    $CAROUSELS
\*------------------------------------*/

.js [data-carousel] { display: none; }

.carousel-spacing {
    @include media('>mlarge') {
        padding-right: rem(65);
    }
}

/**
 * Carousel arrows
 */
.slick-arrow {
    margin-top: $space-half;
    display: flex;
    padding: rem(12);
    cursor: pointer;
    width: rem(45);
    height: rem(45);
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
}
.arrow-icon {
    display: block;
    text-align: center;
    line-height: 1;
}
.slick-prev {
  @include media(">medium") {
    left: 0;
  }

    transform: translate(0, -50%) rotate(180deg);
    &.slick-arrow--square {
        display: none !important; // Because Slick adds display: inline; as an inline style.
    }

}
.slick-next {
    @include media(">medium") {
      right: 0;
      left: auto;
    }
}

/**
 * Arrow styles
 */
// Square
.slick-arrow--square {
    color: $link-color--beta;
    background-color: $white;
    padding: rem(14);
    &:hover {
        color: $link-color-hover--beta;
    }
    @include media('>mlarge') {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 10;
        margin-top: 0;
    }
 }

// Round
.slick-arrow--circle {
    color: $link-color--alpha;
    border: rem(2) solid $link-color--alpha;
    position: absolute;
    bottom: 0;
    z-index: 10;
    margin-top: 0;
    margin-left: rem(10);
    transform: translate(0, 0);
    @include media('>medium') {
        top: 50%;
        transform: translate(0, -51%); // 50% causes a weird cutoff portion on rounded border.
    }
    &:hover {
        color: $white;
        background-color: $link-color-hover--gamma;
        border-color: $link-color-hover--gamma; 
    }
    &.slick-prev {
        transform: translateX(-100%) rotate(180deg);
        margin-right: rem(10);
        margin-left: 0;
        @include media('>medium') {
            transform: translate(0, -51%) rotate(180deg);
        }
    }
}

.section--with-carousel {
    .slick-arrow--square {
        @include media('<=mlarge') {
            display: none !important; // Slick applies inline styles to these.
        }
    }
}
