/*------------------------------------*\
    $SVG
\*------------------------------------*/

/**
 * Icons
 */
.icon--s {
    width: rem(20);
    height: rem(20);
}
.icon--m {
    width: rem(30);
    height: rem(30);
}


/**
 * SVG
 */
