/**
 * Split 2-column layout, the first column is 75% wide, the second is 25%.
 */
.layout-split-2--75-25 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    & > .column:nth-child(2) {
        margin-top: rem(verticalSpacing(desktop));
        width: 100%;

    }
    @include media('>xlarge') {
        flex-direction: row;

        & > .column:nth-child(1) {
            width: 75%;
            max-width: rem(708);
            margin-top: 0;
            @include media('<xlarge') {
                margin-right: $gutter*2;
            }
        }
        & > .column:nth-child(2) {
            width: 35%;
            margin-top: 0;
            padding-left: rem(52);
            @include media('>xxxlarge') {
                padding-left: rem(46);
            }
        }
    }
    @include media('<xlarge') {
        & > .column {
            width: 100%;
        }
    }
}

/**
* A column modifier class for reducing line-length on longform content.
*/
.column--longform {
    @include media('>xlarge') {
        margin-right: rem(50);
    }
    @include media('>xxlarge') {
        margin-left: rem(100);
        margin-right: rem(100);
    }
}
.column--longform--pushed-left {
  @include media('>large') {
      margin-left: rem(10);
      margin-right: rem(10);
  }
  @include media('>xlarge') {
      margin-right: rem(10);
      margin-right: rem(10);
  }
  @include media('>xxlarge') {
      margin-left: rem(100);
      max-width: rem(1050);
      margin-right: rem(25);

  }
  @include media('>xxxlarge') {
      margin-right: auto;
      margin-left: auto;
  }
}
