.layout-split-1-2-3-4--flex {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    > .column {
      width: 100%;
      display: flex;
      align-items: stretch;
      margin-bottom: rem(gutter(mobile)*2);
    }
    @include media('>small') {
        > .column {
          width: 50%;
        }
    }
    @include media('>large') {
        > .column {
          width: 33.3333%;
        }
    }
    @include media('>xlarge') {
        > .column {
          width: 25%;
        }
    }
    @include media('>xxlarge') {
        > .column {
            margin-bottom: rem(gutter(desktop)*4);
        }
    }
}
