// $q-medium below = 1 Column
// $q-medium above = 2 Columns - 33/66% split

.layout-split-2--33-66 {
    @include layout-split;

    @include media('>medium') {
        & > .column:nth-child(1) {
          @include span-columns(1 of 3);
        }

        & > .column:nth-child(2) {
          @include span-columns(2 of 3);
        }
    }
}

.layout-split-2--33-66--flex {
    display: flex;
    flex-wrap: wrap;
    & > .column {
        width: 100%;
    }
    @include media('>xlarge') {
        & > .column:nth-child(1) {
            width: 33.3333%;
        }

        & > .column:nth-child(2) {
            width: 66.6666%;
        }
    }
}

