.layout-split-3 {
    @include outer-container;
    & > .column {
        @include span-columns(1 of 1);
    }
    @include media('>medium') {
        & > .column:nth-child(1),
        & > .column:nth-child(2),
        & > .column:nth-child(3) {
            margin-top: 0;
        }
        & > .column {
            @include span-columns(1 of 3);
            @include omega(3n);
        }
    }
    @media print {
        & > .column:nth-child(1),
        & > .column:nth-child(2) {
            margin-top: 0;
        }
        & > .column {
            @include span-columns(1 of 2);
            @include omega(2n);
        }
    }
}

.layout-split-3--flex {
    @include media('>medium') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > .column:nth-child(1),
        & > .column:nth-child(2),
        & > .column:nth-child(3) {
            margin-top: 0;
        }
        & > .column {
            width: 33.33333%;
        }
    }
}

/**
 * 3x3 Grid
 */
.layout-split-3up-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > .column:nth-child(-n+3) {
        margin-top: 0;
    }
    & > .column {
        width: 33.33333%;
    }
}
